--
-- PostgreSQL database dump
--

-- Dumped from database version 15.13 (Debian 15.13-1.pgdg120+1)
-- Dumped by pg_dump version 15.13 (Debian 15.13-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: admin
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO admin;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: admin
--

COMMENT ON SCHEMA public IS '';


--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: admin
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'pending',
    'shipped',
    'delivered',
    'cancelled'
);


ALTER TYPE public."OrderStatus" OWNER TO admin;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO admin;

--
-- Name: addresses; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.addresses (
    id integer NOT NULL,
    full_name character varying NOT NULL,
    address_line character varying NOT NULL,
    city character varying NOT NULL,
    state character varying NOT NULL,
    zip_code character varying NOT NULL,
    phone_number character varying NOT NULL,
    is_default boolean DEFAULT false NOT NULL,
    user_id integer NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.addresses OWNER TO admin;

--
-- Name: addresses_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.addresses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.addresses_id_seq OWNER TO admin;

--
-- Name: addresses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.addresses_id_seq OWNED BY public.addresses.id;


--
-- Name: cart_items; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.cart_items (
    id integer NOT NULL,
    cart_id integer NOT NULL,
    product_id integer NOT NULL,
    quantity integer NOT NULL,
    price_snapshot numeric(10,2) NOT NULL,
    discount_snapshot numeric(10,2),
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.cart_items OWNER TO admin;

--
-- Name: cart_items_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.cart_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cart_items_id_seq OWNER TO admin;

--
-- Name: cart_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.cart_items_id_seq OWNED BY public.cart_items.id;


--
-- Name: carts; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.carts (
    id integer NOT NULL,
    user_id integer NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.carts OWNER TO admin;

--
-- Name: carts_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.carts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.carts_id_seq OWNER TO admin;

--
-- Name: carts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.carts_id_seq OWNED BY public.carts.id;


--
-- Name: category; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.category (
    id integer NOT NULL,
    name character varying NOT NULL,
    description character varying,
    image character varying,
    is_active boolean DEFAULT true NOT NULL,
    link text,
    "order" integer DEFAULT 0 NOT NULL,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp(6) without time zone
);


ALTER TABLE public.category OWNER TO admin;

--
-- Name: category_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.category_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.category_id_seq OWNER TO admin;

--
-- Name: category_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.category_id_seq OWNED BY public.category.id;


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.order_items (
    id integer NOT NULL,
    "orderId" integer NOT NULL,
    "productId" integer NOT NULL,
    product_name character varying NOT NULL,
    price numeric(10,2) NOT NULL,
    discount_price numeric(10,2),
    quantity integer NOT NULL
);


ALTER TABLE public.order_items OWNER TO admin;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.order_items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.order_items_id_seq OWNER TO admin;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.orders (
    id integer NOT NULL,
    order_number character varying NOT NULL,
    subtotal_price numeric NOT NULL,
    discount_value numeric DEFAULT 0 NOT NULL,
    coupon_code character varying,
    shipping_cost numeric DEFAULT 0 NOT NULL,
    total_price numeric(65,30) NOT NULL,
    payment_method character varying NOT NULL,
    status character varying DEFAULT 'pending'::character varying NOT NULL,
    shipping_full_name character varying NOT NULL,
    shipping_phone character varying,
    shipping_address_line1 character varying NOT NULL,
    shipping_address_line2 character varying,
    shipping_city character varying NOT NULL,
    shipping_state character varying,
    shipping_zip character varying NOT NULL,
    shipping_country character varying NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "userId" integer NOT NULL,
    order_status public."OrderStatus" DEFAULT 'pending'::public."OrderStatus" NOT NULL,
    tracking_number text
);


ALTER TABLE public.orders OWNER TO admin;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.orders_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.orders_id_seq OWNER TO admin;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: payment_methods; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.payment_methods (
    id integer NOT NULL,
    user_id integer NOT NULL,
    cardholder_name character varying NOT NULL,
    card_number character varying NOT NULL,
    expiry_date character varying NOT NULL,
    is_default boolean DEFAULT false NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.payment_methods OWNER TO admin;

--
-- Name: payment_methods_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.payment_methods_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.payment_methods_id_seq OWNER TO admin;

--
-- Name: payment_methods_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.payment_methods_id_seq OWNED BY public.payment_methods.id;


--
-- Name: product_image; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.product_image (
    id integer NOT NULL,
    url character varying NOT NULL,
    is_main boolean DEFAULT false NOT NULL,
    "productId" integer NOT NULL,
    order_image integer NOT NULL
);


ALTER TABLE public.product_image OWNER TO admin;

--
-- Name: product_image_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.product_image_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.product_image_id_seq OWNER TO admin;

--
-- Name: product_image_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.product_image_id_seq OWNED BY public.product_image.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.products (
    id integer NOT NULL,
    name character varying NOT NULL,
    description text NOT NULL,
    price numeric(10,2) NOT NULL,
    discount_price numeric(10,2),
    stock integer NOT NULL,
    sku character varying NOT NULL,
    brand character varying NOT NULL,
    "soldCount" integer DEFAULT 0 NOT NULL,
    additional_information text,
    design text,
    is_active boolean DEFAULT true NOT NULL,
    is_best_seller boolean DEFAULT false NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    deleted_at timestamp(6) without time zone,
    category_id integer
);


ALTER TABLE public.products OWNER TO admin;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.products_id_seq OWNER TO admin;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: products_tags; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.products_tags (
    "productsId" integer NOT NULL,
    "tagsId" integer NOT NULL
);


ALTER TABLE public.products_tags OWNER TO admin;

--
-- Name: slide_images; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.slide_images (
    id integer NOT NULL,
    url character varying NOT NULL,
    order_image integer DEFAULT 0 NOT NULL,
    slide_id integer NOT NULL
);


ALTER TABLE public.slide_images OWNER TO admin;

--
-- Name: slide_images_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.slide_images_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.slide_images_id_seq OWNER TO admin;

--
-- Name: slide_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.slide_images_id_seq OWNED BY public.slide_images.id;


--
-- Name: slides; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.slides (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    "order" integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    is_default boolean DEFAULT false NOT NULL
);


ALTER TABLE public.slides OWNER TO admin;

--
-- Name: slides_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.slides_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.slides_id_seq OWNER TO admin;

--
-- Name: slides_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.slides_id_seq OWNED BY public.slides.id;


--
-- Name: tags; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.tags (
    id integer NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.tags OWNER TO admin;

--
-- Name: tags_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.tags_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tags_id_seq OWNER TO admin;

--
-- Name: tags_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.tags_id_seq OWNED BY public.tags.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.users (
    id integer NOT NULL,
    first_name character varying,
    last_name character varying,
    phone_number character varying,
    is_active boolean DEFAULT true NOT NULL,
    avatar_url character varying,
    note text,
    email text,
    hashed_password character varying,
    role_id character varying,
    created_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(6) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    last_login timestamp(6) with time zone
);


ALTER TABLE public.users OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO admin;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: variants; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public.variants (
    id integer NOT NULL,
    name character varying NOT NULL,
    price numeric(10,2),
    stock integer NOT NULL,
    "imageUrl" character varying,
    "productId" integer
);


ALTER TABLE public.variants OWNER TO admin;

--
-- Name: variants_id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

CREATE SEQUENCE public.variants_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.variants_id_seq OWNER TO admin;

--
-- Name: variants_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: admin
--

ALTER SEQUENCE public.variants_id_seq OWNED BY public.variants.id;


--
-- Name: addresses id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.addresses ALTER COLUMN id SET DEFAULT nextval('public.addresses_id_seq'::regclass);


--
-- Name: cart_items id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cart_items ALTER COLUMN id SET DEFAULT nextval('public.cart_items_id_seq'::regclass);


--
-- Name: carts id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.carts ALTER COLUMN id SET DEFAULT nextval('public.carts_id_seq'::regclass);


--
-- Name: category id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.category ALTER COLUMN id SET DEFAULT nextval('public.category_id_seq'::regclass);


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: payment_methods id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payment_methods ALTER COLUMN id SET DEFAULT nextval('public.payment_methods_id_seq'::regclass);


--
-- Name: product_image id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.product_image ALTER COLUMN id SET DEFAULT nextval('public.product_image_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Name: slide_images id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.slide_images ALTER COLUMN id SET DEFAULT nextval('public.slide_images_id_seq'::regclass);


--
-- Name: slides id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.slides ALTER COLUMN id SET DEFAULT nextval('public.slides_id_seq'::regclass);


--
-- Name: tags id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tags ALTER COLUMN id SET DEFAULT nextval('public.tags_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: variants id; Type: DEFAULT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.variants ALTER COLUMN id SET DEFAULT nextval('public.variants_id_seq'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
acc4ae75-959d-4a63-a1fa-244db21bac9f	c3fb51f56d80969f3e7314afd9fb35fd9700ea71cefa9dd72c14909da9176a87	2025-07-16 10:34:17.438084+00	20250716085720_first	\N	\N	2025-07-16 10:34:17.346157+00	1
\.


--
-- Data for Name: addresses; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.addresses (id, full_name, address_line, city, state, zip_code, phone_number, is_default, user_id, created_at, updated_at) FROM stdin;
1	chonlaapt aueaaranchot	19 α╕½α╕íα╕╣α╣êα╕Üα╣ëα╕▓α╕Öα╕ÿα╕▓α╕úα╕ùα╕¡α╕ç2 α╕û.α╕ÿα╕▓α╕úα╕ùα╕¡α╕ç α╕ò.α╕ƒα╣ëα╕▓α╕«α╣êα╕▓α╕í α╕¡.α╣Çα╕íα╕╖α╕¡α╕ç	α╣Çα╕èα╕╡α╕óα╕çα╣âα╕½α╕íα╣ê	α╣Çα╕èα╕╡α╕óα╕çα╣âα╕½α╕íα╣ê	5000	0948386679	f	4	2025-07-16 10:39:17.951	2025-07-16 10:39:17.951
\.


--
-- Data for Name: cart_items; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.cart_items (id, cart_id, product_id, quantity, price_snapshot, discount_snapshot, created_at, updated_at) FROM stdin;
3	2	4	1	8900.00	6900.00	2025-07-17 04:17:18.116	2025-07-17 04:17:18.116
2	2	8	2	3200.00	2500.00	2025-07-16 13:38:41.834	2025-07-17 07:47:03.263
\.


--
-- Data for Name: carts; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.carts (id, user_id, created_at, updated_at) FROM stdin;
2	4	2025-07-16 13:38:41.811	2025-07-16 13:38:41.811
\.


--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.order_items (id, "orderId", "productId", product_name, price, discount_price, quantity) FROM stdin;
1	1	3	α╣Çα╕òα╕╡α╕óα╕çα╕Öα╕¡α╕Öα╕äα╕╣α╣êα╕₧α╕úα╣ëα╕¡α╕íα╕ùα╕╡α╣êα╕Öα╕¡α╕Ö	25000.00	19900.00	3
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: payment_methods; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.payment_methods (id, user_id, cardholder_name, card_number, expiry_date, is_default, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: product_image; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: products_tags; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.products_tags ("productsId", "tagsId") FROM stdin;
11	14
11	15
11	2
10	9
10	3
9	7
9	3
9	4
8	9
8	5
8	2
7	13
7	5
7	3
6	12
6	7
6	3
5	10
5	2
5	3
4	7
4	5
4	3
3	2
3	8
3	4
2	9
2	6
2	5
1	2
1	7
1	11
\.


--
-- Data for Name: slide_images; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.slide_images (id, url, order_image, slide_id) FROM stdin;
1	/uploads/slides/temp-1752662172615-292944027.jpg	0	1
2	/uploads/slides/temp-1752662172617-572433813.jpg	1	1
3	/uploads/slides/temp-1752662172620-770595326.jpg	2	1
\.


--
-- Data for Name: slides; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.slides (id, title, description, "order", is_active, created_at, updated_at, is_default) FROM stdin;
1	Welcome		0	t	2025-07-16 10:36:16.745	2025-07-16 10:36:16.745	t
\.


--
-- Data for Name: tags; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.tags (id, name) FROM stdin;
1	α╣âα╕½α╕íα╣ê
2	α╕éα╕▓α╕óα╕öα╕╡
3	α╕Ñα╕öα╕úα╕▓α╕äα╕▓
4	α╕óα╕¡α╕öα╕Öα╕┤α╕óα╕í
5	α╕íα╕┤α╕Öα╕┤α╕íα╕¡α╕Ñ
6	α╕¬α╣äα╕òα╕Ñα╣îα╕¬α╣üα╕üα╕Öα╕öα╕┤α╣Çα╕Öα╣Çα╕ºα╕╡α╕óα╕Ö
7	α╕¬α╣äα╕òα╕Ñα╣îα╣éα╕íα╣Çα╕öα╕┤α╕úα╣îα╕Ö
8	α╕¬α╣äα╕òα╕Ñα╣îα╕äα╕Ñα╕▓α╕¬α╕¬α╕┤α╕ü
9	α╣äα╕íα╣ëα╕ÿα╕úα╕úα╕íα╕èα╕▓α╕òα╕┤
10	α╣éα╕Ñα╕½α╕░
11	α╕£α╣ëα╕▓
12	α╣üα╕üα╣ëα╕º
13	α╣Çα╕ïα╕úα╕▓α╕íα╕┤α╕ü
14	LED
15	α╕¢α╕úα╕░α╕½α╕óα╕▒α╕öα╕₧α╕Ñα╕▒α╕çα╕çα╕▓α╕Ö
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: admin
--



--
-- Data for Name: variants; Type: TABLE DATA; Schema: public; Owner: admin
--

COPY public.variants (id, name, price, stock, "imageUrl", "productId") FROM stdin;
1	α╕¬α╕╡α╣Çα╕ùα╕▓	12900.00	5	\N	1
2	α╕¬α╕╡α╕Öα╣ëα╕│α╕òα╕▓α╕Ñ	12900.00	5	\N	1
3	α╕¬α╕╡α╕öα╕│	12900.00	5	\N	1
\.


--
-- Name: addresses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.addresses_id_seq', 1, true);


--
-- Name: cart_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.cart_items_id_seq', 3, true);


--
-- Name: carts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.carts_id_seq', 2, true);


--
-- Name: category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.category_id_seq', 6, true);


--
-- Name: order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.order_items_id_seq', 1, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.orders_id_seq', 1, true);


--
-- Name: payment_methods_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.payment_methods_id_seq', 1, false);


--
-- Name: product_image_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.product_image_id_seq', 23, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.products_id_seq', 11, true);


--
-- Name: slide_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.slide_images_id_seq', 3, true);


--
-- Name: slides_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.slides_id_seq', 1, true);


--
-- Name: tags_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.tags_id_seq', 15, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.users_id_seq', 4, true);


--
-- Name: variants_id_seq; Type: SEQUENCE SET; Schema: public; Owner: admin
--

SELECT pg_catalog.setval('public.variants_id_seq', 3, true);


--
-- Name: products PK_0806c755e0aca124e67c0cf6d7d; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "PK_0806c755e0aca124e67c0cf6d7d" PRIMARY KEY (id);


--
-- Name: variants PK_672d13d1a6de0197f20c6babb5e; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.variants
    ADD CONSTRAINT "PK_672d13d1a6de0197f20c6babb5e" PRIMARY KEY (id);


--
-- Name: slide_images PK_75744fd70f0d7fb5641c007cb29; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.slide_images
    ADD CONSTRAINT "PK_75744fd70f0d7fb5641c007cb29" PRIMARY KEY (id);


--
-- Name: product_image PK_99d98a80f57857d51b5f63c8240; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.product_image
    ADD CONSTRAINT "PK_99d98a80f57857d51b5f63c8240" PRIMARY KEY (id);


--
-- Name: category PK_9c4e4a89e3674fc9f382d733f03; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT "PK_9c4e4a89e3674fc9f382d733f03" PRIMARY KEY (id);


--
-- Name: products_tags PK_b06c7e3d7d74a176b4d936bcd73; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.products_tags
    ADD CONSTRAINT "PK_b06c7e3d7d74a176b4d936bcd73" PRIMARY KEY ("productsId", "tagsId");


--
-- Name: tags PK_e7dc17249a1148a1970748eda99; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.tags
    ADD CONSTRAINT "PK_e7dc17249a1148a1970748eda99" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: addresses addresses_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.addresses
    ADD CONSTRAINT addresses_pkey PRIMARY KEY (id);


--
-- Name: cart_items cart_items_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_pkey PRIMARY KEY (id);


--
-- Name: carts carts_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: payment_methods payment_methods_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payment_methods
    ADD CONSTRAINT payment_methods_pkey PRIMARY KEY (id);


--
-- Name: slides slides_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.slides
    ADD CONSTRAINT slides_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: IDX_72fa6ba0f176a89a2e9d90274c; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IDX_72fa6ba0f176a89a2e9d90274c" ON public.products_tags USING btree ("tagsId");


--
-- Name: IDX_88687975db5205fdbdb10969fc; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IDX_88687975db5205fdbdb10969fc" ON public.products_tags USING btree ("productsId");


--
-- Name: UQ_23c05c292c439d77b0de816b500; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "UQ_23c05c292c439d77b0de816b500" ON public.category USING btree (name);


--
-- Name: UQ_d90243459a697eadb8ad56e9092; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "UQ_d90243459a697eadb8ad56e9092" ON public.tags USING btree (name);


--
-- Name: UQ_f9180f384353c621e8d0c414c14; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "UQ_f9180f384353c621e8d0c414c14" ON public.orders USING btree (order_number);


--
-- Name: category_link_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX category_link_key ON public.category USING btree (link);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: slide_images FK_1b789565cad8631f65aa608d6ca; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.slide_images
    ADD CONSTRAINT "FK_1b789565cad8631f65aa608d6ca" FOREIGN KEY (slide_id) REFERENCES public.slides(id) ON DELETE CASCADE;


--
-- Name: product_image FK_40ca0cd115ef1ff35351bed8da2; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.product_image
    ADD CONSTRAINT "FK_40ca0cd115ef1ff35351bed8da2" FOREIGN KEY ("productId") REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: products_tags FK_72fa6ba0f176a89a2e9d90274c5; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.products_tags
    ADD CONSTRAINT "FK_72fa6ba0f176a89a2e9d90274c5" FOREIGN KEY ("tagsId") REFERENCES public.tags(id);


--
-- Name: products_tags FK_88687975db5205fdbdb10969fc4; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.products_tags
    ADD CONSTRAINT "FK_88687975db5205fdbdb10969fc4" FOREIGN KEY ("productsId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: products FK_9a5f6868c96e0069e699f33e124; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "FK_9a5f6868c96e0069e699f33e124" FOREIGN KEY (category_id) REFERENCES public.category(id) ON DELETE SET NULL;


--
-- Name: variants FK_bdbfe33a28befefa9723c355036; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.variants
    ADD CONSTRAINT "FK_bdbfe33a28befefa9723c355036" FOREIGN KEY ("productId") REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: orders FK_caabe91507b3379c7ba73637b84; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "FK_caabe91507b3379c7ba73637b84" FOREIGN KEY ("userId") REFERENCES public.users(id);


--
-- Name: carts FK_cart_user; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT "FK_cart_user" FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cart_items FK_cartitem_cart; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT "FK_cartitem_cart" FOREIGN KEY (cart_id) REFERENCES public.carts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cart_items FK_cartitem_product; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT "FK_cartitem_product" FOREIGN KEY (product_id) REFERENCES public.products(id) ON UPDATE CASCADE;


--
-- Name: payment_methods FK_paymentmethod_user; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.payment_methods
    ADD CONSTRAINT "FK_paymentmethod_user" FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: addresses addresses_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.addresses
    ADD CONSTRAINT addresses_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order_items order_items_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "order_items_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_items order_items_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "order_items_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: admin
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

